<section>
    <div class="text-area-container">
        <div #backdrop class="backdrop">
            <div id="highlight-id" [innerHTML]="highlightedText"></div>
        </div>
        <textarea #textarea id="text-area-id" class="text-area" rows="4" cols="40" [(ngModel)]="enteredText"
            (ngModelChange)="addNoteValidation()" (keydown)="openDropdown($event)" (scroll)="handleOverflow()">
        </textarea>
        <ul class="dropdown-container" id="dropdown-id" [hidden]="!isDropdownVisible">
            <option class="dropdown-list" *ngFor="let agentName of agentNames" [value]="agentName" tabindex="0"
                (click)="setTextAreaValue($event)" (keypress)="setTextAreaValue($event)">{{agentName}}
            </option>
        </ul>
        <div class="button-container">
            <button class="add-note-button" [disabled]="isDisabled" (click)="successMsg()">+ Add Note</button>
            <button class="reset-button" (click)="clearText()">Reset</button>
        </div>
        <span *ngIf="isNoteAdded" style="color:green">Notes added successfully</span>
    </div>
</section>