section {
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    -webkit-text-size-adjust: none;
}

.text-area-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.text-area,
.backdrop {
    width: 456px;
    height: 122px;
    border-radius: 5px;
    border-color: #e99a52;
    padding: 10px;
    border-width: 2px;
}

.text-area:focus {
    outline: none !important;
    box-shadow: 0 0 5px #f3c798;
}

.button-container {
    padding-top: 20px;
}

.add-note-button,
.reset-button {
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 5px;
    border: none;
    color: #e99a52;
    background-color: #fdf4ea;
    font-weight: 600;
}

.add-note-button:hover,
.reset-button:hover {
    background-color: #eeee;
}

.add-note-button {
    border-style: dotted;
    border-color: #f0f0f0;
}

.add-note-button:disabled {
    color: #f3c798;
    background-color: white;
}

.dropdown-container {
    width: 160px;
    padding: 7px;
    background: white;
    position: absolute;
    border: #e7e6e6 2px solid;
    left: 20px;
    z-index: 11;
}

.dropdown-list {
    display: flex;
    flex-direction: column;
    z-index: 2;
    padding: 5px;
    cursor: pointer;
}

.dropdown-list:focus {
    outline: none;
    background-color: #457ab2;
}

.text-area {
    background-color: transparent;
    z-index: 2;
    overflow: auto;
    resize: none;
    transition: transform 1s;
}

.backdrop {
    position: absolute;
    border: 2px solid #e99a52;
    z-index: 1;
    overflow: auto;
}

#highlight-id {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.text-area,
#highlight-id {
    font: 15px "system-ui", sans-serif;

}

.marked-class {
    color: transparent;
    border-radius: 3px;
    background-color: #f4ca49;
}


@media screen and (max-width: 576px) {

    .text-area,
    .backdrop {
        width: 300px;
    }
}